/* Links a partials */
@use "../general/componentes" as *;

/* Header --------------------------------------------------- */
.header {
    text-align: center;
    padding: 10px;
    background-color: $beige;
    margin-bottom: 10px;
}

.form   {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: $blanco;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    label {
        font-weight: bold;
        margin-bottom: 5px;
      
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid $verde;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 400;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $verde;
        border-radius: 15px;
        font-size: 16px;
        resize: vertical;
    }
}

